Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone*,
  modernize*,
  performance*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-identifier-length,
  -clang-analyzer-security*,
  -performance-no-int-to-ptr,
  -bugprone-easily-swappable-parameters,
  -readability-function-cognitive-complexity,
  -bugprone-sizeof-expression,
  -clang-analyzer-core.uninitialized.*,
  -clang-analyzer-core.UndefinedBinaryOperatorResult,
  -bugprone-reserved-identifier,
  -bugprone-multi-level-implicit-pointer-conversion
